/* 
    IMPORT THE DYNAMIC THEME FILE 
    This file is written by the 'toggle-theme' script.
*/
@import "theme.css";

* {
    font-family: "FiraCode Nerd Font", FontAwesome, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: @base; /* Uses variable from theme.css */
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
    opacity: 0.9; 
}

#workspaces {
    background-color: transparent;
    margin: 5px;
}

#workspaces button {
    padding: 2px 10px;
    margin: 0 3px;
    color: @text;
    background-color: @surface1;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#workspaces button.active {
    background-color: @blue;
    color: @base;
}

#workspaces button:hover {
    background-color: @lavender;
    color: @base;
}

#window {
  font-weight: bold;
  margin-right: 15px;
  color: @text;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #backlight, 
#custom-battery-limit, #custom-logout, #custom-tailscale, #custom-wifi,
#custom-theme {
    padding: 0 10px;
    margin: 5px 3px;
    color: @text;
}

#pulseaudio { color: @blue; }
#memory { color: @green; }
#cpu { color: @peach; }
#backlight { color: @yellow; }
#network { color: @lavender; }

#custom-wifi { color: @lavender; }
#custom-wifi.disconnected { color: @red; }
#custom-wifi.scanning { color: @peach; }

#battery { color: @green; }
#battery.charging { color: @green; }
#battery.warning:not(.charging) { color: @peach; }
#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @base;
    }
}

#custom-tailscale { color: @red; }
#custom-tailscale.active { color: @green; }

#custom-logout {
  color: @red;
  margin-right: 5px;
}

#custom-theme {
  color: @mauve;
  margin-right: 10px;
}
